<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Kinetiq</title>
</head>

<body>
    
    <header>
        <h1>Kinetiq</h1>
    </header>

    <main>
    
    <div class="day-navigation">

        <a class="nav-button" href="{{ url_for('previous_day', day_id=day.id) }}">
            ← Previous Day
        </a>

        <div class="day-title">
            <h2>{{ day.date.strftime("%A, %B %d, %Y") }}</h2>
        </div>

        <a class="nav-button" href="{{ url_for('next_day', day_id=day.id) }}">
            Next Day →
        </a>

    </div>

<div class="back-link">
    <a href="{{ url_for('home') }}">← All Days</a>
</div>
        
        <section class="daily-summary">
            <h2>Daily Nutrition</h2>

            <div class="nutrition-grid">

                <div class="nutrition-card">
                    <h3>Calories</h3>
                    <p>{{ day.get_meal_totals()["kcal"] }}</p>
                </div>

                <div class="nutrition-card">
                    <h3>Protein</h3>
                    <p>{{ day.get_meal_totals()["pro"] }}g</p>
                </div>

                <div class="nutrition-card">
                    <h3>Carbs</h3>
                    <p>{{ day.get_meal_totals()["carb"] }}g</p>
                </div>

                <div class="nutrition-card">
                    <h3>Fat</h3>
                    <p>{{ day.get_meal_totals()["fat"] }}g</p>
                </div>

        </div>

        </section>

        <br><br>

        <section>

            <div class="section-header">

                <h2>Meals</h2>

                <a class="button" href="{{ url_for('new_meal', day_id=day.id) }}">
                + Add Meal
                </a>

            </div>

            {% for meal in day.meals %}

                <div class="meal">
                    <div class="meal-header">

                        <h3>{{ meal.name }}</h3>

                        <a class="small-button"
                            href="{{ url_for('new_food', day_id=day.id, meal_id=meal.id) }}">
                            + Add Food
                        </a>
                    </div>
                </div>

                    {% for entry in meal.entries %}
                    <div class="food-entry">
                        <h4>{{ entry.food.name }} - {{ entry.quantity }}g</h4>

                        <p>Calories: {{ entry.nutrition["kcal"] }}</p>
                        <p>Protein: {{ entry.nutrition["pro"] }}g</p>
                        <p>Carbohydrates: {{ entry.nutrition["carb"] }}g</p>
                        <p>Fat: {{ entry.nutrition["fat"] }}g</p>
                    </div>
                    {% endfor %}

                    <div class="meal-total">
                        <h4>Meal Total</h4>

                        <p>Calories: {{ meal.get_meal_totals()["kcal"] }}</p>
                        <p>Protein: {{ meal.get_meal_totals()["pro"] }}g</p>
                        <p>Carbs: {{ meal.get_meal_totals()["carb"] }}g</p>
                        <p>Fat: {{ meal.get_meal_totals()["fat"] }}g</p>
                    </div>

                    <br><br>

                </div>
                
            {% endfor %}

        </section>

        <section>

             <h2>Training</h2>

            {% for workout in day.workouts %}

                <div class="workout"> 

                    <h3>{{ workout.name }}</h3>
                    
                    {% for exercise in workout.exercises %}
                        <h4> {{ exercise.name }} </h4>

                        {% for current_set in exercise.sets %}
                            <p>{{ current_set[0] }} x {{ current_set[1] }}lbs</p>
                        {% endfor %}

                    {% endfor %}

                </div>
                
            {% endfor %}

        </section>

        <section>

             <h2>Cardio</h2>

                {% for cardio in day.cardio_sessions %}

                    <div class="cardio"> 

                        <h3>{{ cardio.name }}</h3>  
                        <p>{{ cardio.distance }} miles</p>
                        <p>{{ cardio.duration }} minutes</p>

                    </div>
                    
                {% endfor %}

        </section>

    </main>
       
</body>

</html>